@model chefsNdishes.Models.Dish
<div class="container addchef">
<form asp-action="AddDish" asp-controller="Home" method="POST">
    <h2 class="text-center">Add Dish!</h2>
    <br>
    <label>Name of Dish:</label>
    <input class="form-control" asp-for="Name" placeholder="Dish Name">
    <span style="color: red;" asp-validation-for="Name"></span>
    <br>
    <label>Calories:</label>
    <input class="form-control" asp-for="Calories">
    <span style="color: red;" asp-validation-for="Calories"></span>
    <br>
    
    <label>Tastiness</label>
    <input class="form-control col-4" min="1" max="5" asp-for="Tastiness">
    <span style="color: red;" asp-validation-for="Tastiness"></span>
    <br>
    <label>Chef</label><br>
    <select asp-for="ChefId">
        @foreach (var item in ViewBag.AllChefs)
        {
            <option value="@item.ChefId">@item.FName @item.LName</option>
        }
    </select>
    <span style="color: red;" asp-validation-for="ChefId"></span>
    <br>
    <label>Description</label>
    <textarea class="form-control col" asp-for="Description">Description:</textarea>
    <span style="color: red;" asp-validation-for="Description"></span>
    <br>
    <input type="submit" class="btn btn-primary">
</form>
</div>